body {
    background-color: #004526;
}

* {
    margin: 0.01;
}

main {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #004526;
    border: thin white solid;
}

main>div {
    border: thin solid white;
    height: 100%;
    width: 49.5%;
}
















/* 
#main_cont {
    width: 25%;
    height: 27vw;
    border: white solid thin;
     border-radius: .6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

h2 {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 2.0vw;
    color: #004526;
    background-color: rgb(0, 69, 38, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */